@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<div class="row">
  <div class="col-sm-6">
    <h1>Engineer Details</h1>
    <h3>Name: @Html.DisplayFor(model => model.Name)</h3>
    <h3>Degree/Certification: @Html.DisplayFor(model => model.Degree)</h3>
    <a href='@Url.Action("Edit", new { id = Model.EngineerId })'>
      <img class="button-display" src='@Url.Content("~/img/Edit.png")' />
    </a>
  </div>
  <div class="col-sm-6">
    <h1>Approved to Maintain/Repair</h1>
    <ul>
      @if (@Model.Machines.Count == 0)
      {
        <h3>No machines are approved to be repaired by @Model.Name. Add an approval with the button below.</h3>
      }
      @foreach(var join in Model.Machines)
      {
        <li>@Html.ActionLink($"{@join.Machine.Name}", "Details", "Machines", new { id = join.MachineId } )</li>
        @using (Html.BeginForm("DeleteApproval", "Engineers"))
        {
          @Html.Hidden("joinId", @join.EngineerMachineId)
          <button class="btn btn-default" type="submit">Remove</button>
        }
      }
    </ul>
      <div>
        <a href='@Url.Action("AddMachine", new { id = Model.EngineerId })'>
            <img class="button-display" src='@Url.Content("~/img/Approval.png")' />
        </a>
        <a href='@Url.Action("Delete", new { id = Model.EngineerId })'>
            <img class="button-display" src='@Url.Content("~/img/DeleteEngineer.png")' />
        </a>
      </div>
  </div>
</div>
